pkgbase = lzc-client-desktop-bin
	pkgdesc = Lazy Cat microservice desktop client
	pkgver = 1.6.0
	pkgrel = 1
	url = https://lazycat.cloud/
	install = lzc-client-desktop-bin.install
	arch = x86_64
	license = custom
	makedepends = zstd
	depends = zenity
	depends = libcap
	depends = glib2
	depends = nspr
	depends = nss
	depends = dbus
	depends = at-spi2-core
	depends = libcups
	depends = cairo
	depends = gtk3
	depends = pango
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = mesa
	depends = expat
	depends = libxcb
	depends = libxkbcommon
	depends = systemd-libs
	depends = alsa-lib
	source = lzc-client-desktop_1.6.0.tar.zst::https://dl.lazycat.cloud/client/desktop/stable/lzc-client-desktop_v1.6.0.tar.zst
	sha256sums = 23ae44472ba72bc7a722b04995c781b3e1073f0324ab02e47cc4e4304904a2ac

pkgname = lzc-client-desktop-bin
